<main>
    <header class="text-center text-gray-100 bg-blue-500">
        <h1 class="font-extrabold text-3xl pt-8">Monitoramento de Endpoints</h1>
        <div class="pb-6 pt-4 flex items-center justify-center gap-5 font-bold">
            <button
                class="hover:text-blue-900 cursor-pointer"
                (click)="modal.toggleModal()"
            >
                Add
            </button>
            <button class="hover:text-blue-900 cursor-pointer">Del</button>
            <button class="hover:text-blue-900 cursor-pointer">Updt</button>
        </div>
    </header>
    <main class="py-2">
        <app-modal-base #modal (saved)="reloadData()" />
    </main>
    <main class="pt-5">
        <ul>
            @for (item of data; track item.id) {
            <li>
                <div class="bg-orange-200 m-5 p-5">
                    <h3 class="text-lg font-bold">Nome do endpoint:</h3>
                    <h4 class="text-md">{{ item.name }}</h4>
                    <h4 class="font-bold">
                        Status do endpoint:
                        <span
                            class="{{
                                item.online ? 'text-green-600' : 'text-red-600'
                            }}"
                            >{{ item.online ? "Online" : "Offline" }}</span
                        >
                    </h4>
                    <p class="font-bold">Ping: {{ item.ping }}</p>
                </div>
            </li>
            } @empty {
            <li>There are no items.</li>
            }
        </ul>
    </main>
</main>

<router-outlet />
